<div class="container-fluid">
  <div class="welcome-title" >
  	 <span style="text-align: right; font-size: 90%;"> Welcome "{{$ctrl.currentUser}}" to our store </span>
  </div>
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
      
      <a href="#!/order/details">View Cart</a>
      
      <br/><br/>
      <span style="font-size: 75%; color: blue; display: {{$ctrl.addItemMessageVisibility}}"> {{$ctrl.addItemMessage}} </span>

      
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail phone-list-item" >

          <a href="#!/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
          </a>
          <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
		  <p> {{phone.snippet}}
          <div>
			<label for="selected_quantity">Select quantity: </label>
            <input id="selected_quantity" ng-model="phone.selectedQuantity" type="number" min="0" max="{{phone.quantity}}" step="1" />
            <button type="button" class="list-button" ng-click="$ctrl.addToCart(phone)">Add to cart</button>
	      </div>  
        </li>
      </ul>

    </div>
  </div>
</div>
